<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mensaje</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <!-- Modal -->

    <div class="modal fade" id="messageModal" tabindex="-1" aria- labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Mensaje</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage"></p>
                    <img id="modalImage" class="img-fluid" style="display: none" alt="Imagen del mensaje" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs- dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const message = {{ message| safe }}; // El mensaje se pasa desde Django
        if (message) {
            document.getElementById("modalMessage").innerText =
                `[${message.typr.toUpperCase()}] Código ${message.code}: ${message.message}`;
            if (message.img) {
                const imgElement = document.getElementById("modalImage");
                imgElement.src = message.img;
                imgElement.style.display = "block";
            }
            const modal = new
                bootstrap.Modal(document.getElementById('messageModal'));
            modal.show();
        }
        });
    </script>

</body>

</html>